.wow
{
	visibility: visible!important;
}
.bx-viewport.viweport-hight
{
	height: 480px!important;
}
.banner ul li img
{
	display: block!important;
}
.header-wrapper
{
	background-color: #F3E7E4!important;
}
.map-form
{
	background: #A9D495!important;
}